/* Toolkit Graphic User Interface */
#TKGUI {
	position: absolute;
	top: 2em;
	right: 8em;
	font-size: 17px;
}

body.night #TKGUI {
	color: #F3F3F3;
}

#TKGUI:before {
	content: '';
	position: absolute;
	height: calc(100% - 3px);
	border: 1.5px solid black;
	border-right-width: 0;
	width: 12px;
	left: 0px;
}

body.night #TKGUI:before {
	border-color: #F3F3F3;
}

#TKGUI span {
	display: block;
}

#TKGUI span:before {
	content: ''attr(N)'';
	border-width: 0 1.5px;
	border-color: black;
	border-style: solid;
	margin-right: 8px;
	display: inline-block;
	width: 130px;
	text-align: center;
}

body.night #TKGUI span:before {
	border-color: #F3F3F3;
}

#TKGUI span:first-child:before {
	border-top-width: 1.5px;
}

#TKGUI span:last-child:before {
	border-bottom-width: 1.5px;
}

#TKGUI span.gray:before {
	background-color: #808080;
}

#TKGUI span.gray:before {
	background-color: #808080;
}

#TKGUI span.gray:before {
	background-color: #808080;
}