/* Control Code GUI Two Status */
#controlCodeGUITwoStatus {
	position: absolute;
	top: 17.5em;
	left: 6.6em;
	font-family: 'MagdaClean';
	letter-spacing: 0.5px;
	font-size: 1.2em;
	font-weight: bold;
}

body.night #controlCodeGUITwoStatus {
	color: #F3F3F3;
}

#controlCodeGUITwoStatus a {
	color: inherit;
}

#controlCodeGUITwoStatus a:focus {
	color: black;
}