/* Control Code */
#controlCode {
	position: absolute;
	bottom: 12em;
	right: 8em;
	font-size: 17px;
}

body.night #controlCode {
	color: #F3F3F3;
}

#controlCode:before {
	content: '';
	position: absolute;
	height: calc(100% - 3px);
	border: 1.5px solid black;
	border-right-width: 1;
	width: 55px;
	left: -12px;
}

body.night #controlCode:before {
	border-color: #F3F3F3;
}

#controlCode span {
	display: block;
}

#controlCode span:before {
	content: ''attr(N)'';
	border-width: 0 1.5px;
	border-color: black;
	border-style: solid;
	margin-right: 8px;
	display: inline-block;
	width: 55px;
	text-align: center;
}

body.night #controlCode span:before {
	border-color: #F3F3F3;
}

#controlCode span:first-child:before {
	border-top-width: 1.5px;
}

#controlCode span:last-child:before {
	border-bottom-width: 1.5px;
}

#controlCode span.gray:before {
	background-color: #808080;
}

#controlCode span.gray:before {
	background-color: #808080;
}

#controlCode span.gray:before {
	background-color: #808080;
}