/* Control Code GUI  */
#controlCodeGUI {
	position: absolute;
	top: 13.67em;
	left: 6.6em;
	font-family: 'MagdaClean';
	letter-spacing: 0.5px;
	font-size: 1.2em;
	font-weight: bold;
}

body.night #controlCodeGUI {
	color: #F3F3F3;
}

#controlCodeGUI a {
	color: inherit;
}

#controlCodeGUI a:focus {
	color: black;
}
