/* NLP Window */
#nlp .content {
	padding: 0;
}

#nlp .header,
#nlp .word {
	padding: 5px;
}

#nlp .header {
	background-color: black;
	font-size: 15px;
}

#nlp .header .title {
	padding: 0 3px;
	margin: 0 6px 3px 0;
}

#nlp .header .sub_header {
	opacity: 0.8;
	font-size: 14px;
	border-top: 2px solid #E8E4E4;
	padding-top: 2px;
	margin-top: 2px;
}

#nlp .header .sub_header:before {
	content: '///';
	font-size: 12px;
}

#nlp .audio,
#nlp .sentence {
	background: repeating-linear-gradient( #444, #444 2px, #333 2px, #333 4px);
}

#nlp .audio {
	height: 60px;
}

#nlp .sentence {
	font-size: 14px;
	font-family: 'MagdaClean';
	border-top: 2px solid black;
}

#nlp .word {
	display: inline-block;
	margin: 5px 3.5px 5px 0;
}

#nlp .word:first-child {
	margin-left: 5px;
}

#nlp .word.relevant_keyword {
	background-color: #870D03;
}