/* Connection Link  Status */
#ConnectionLinkStatus {
	position: absolute;
	bottom: 5.6em;
	right: 4.7em;
	font-family: 'MagdaClean';
	letter-spacing: 0.5px;
	font-size: 1.1em;
	font-weight: bold;
}

body.night #ConnectionLinkStatus {
	color: #F3F3F3;
}

#ConnectionLinkStatus a {
	color: inherit;
}

#ConnectionLinkStatus a:focus {
	color: black;
}