/* Loading wrapper */
/* === Load-unload === */
.LW {
	top: 0;
	width: 50%;
	height: 100%;
	background: black;
	z-index: 1;
	transition: width 0.8s ease-out;
}

.LW img {
	height: 100%;
}

.LW.loaded {
	width: 0;
}

.LW._l {
	left: 0;
}

.LW._l img {
	float: right;
}

.LW._r {
	right: 0;
}

.LW._r img {
	float: left;
}