/* Lateral stuff */
#left,
#right {
	top: 0;
	background-size: cover;
	width: 155px;
	height: 100%;
	opacity: 0.5;
}

body.night #left,
body.night #right {
	filter: invert(1);
	opacity: 0.1;
}

#left {
	left: 0;
	background-image: url(img/left.gif);
}

#right {
	right: 0;
	background-image: url(img/right.gif);
}

/*
#right img {
	transform: rotate(180deg);
}
*/
