#main p,
#main hr {
	margin-top: 0;
	margin-bottom: 0;
}

#main {
	width: 100%;
	transform: translateY(-50%);
}

#output,
#marker {
	font-size: 2em;
}

#output {
	text-transform: uppercase;
	margin-bottom: 5px;
}

#output.calculating:before {
	content: 'calculating response';
	font-family: MagdaClean;
	position: absolute;
	transform: translate(-50%, -7px);
}

#output.calculating+#hr {
	width: 150px;
}

body.night #output {
	color: #F3F3F3;
}

#hr {
	width: 30px;
	border-top: 2px solid black;
	transition: width 0.3s;
}

body.night #hr {
	border-color: #F3F3F3;
}

#marker {
	height: 37px;
	margin-left: -1em;
	margin-right: -1em;
}

#marker.triangle:before {
	content: '\25b2';
	color: red;
}

#marker.dots:before {
	content: '';
	background-image: url(img/dots.gif);
	width: 150px;
	height: 85px;
	position: absolute;
	margin-top: 10px;
	transform: scale(0.23) translateX(-50%);
	transform-origin: top left;
}

body.night #marker.dots:before {
	filter: invert(1);
}