/* Control Code Status */
#controlCodeStatus {
	position: absolute;
	bottom: 1.7em;
	right: 5.2em;
	font-family: 'MagdaClean';
	letter-spacing: 0.5px;
	font-size: 1.1em;
	font-weight: bold;
}

body.night #controlCodeStatus {
	color: #F3F3F3;
}

#controlCodeStatus a {
	color: inherit;
}

#controlCodeStatus a:focus {
	color: black;
}