/* System Version */
#systemVersion {
	position: absolute;
	bottom: 1em;
	right: 5em;
	font-family: 'MagdaClean';
	letter-spacing: 0.5px;
	font-size: 1.2em;
	font-weight: bold;
}

body.night #systemVersion {
	color: #F3F3F3;
}

#systemVersion a {
	color: inherit;
}

#systemVersion a:focus {
	color: black;
}